/*SECTION MENU*/
body{
	margin: 0px;
	padding: 0px;
	font-family:"Book Antiqua" ,"Lucida Console", Monaco, monospace;
	font-size: 15px ;
}
.entete{
	font-size: 1.5rem;
	margin-top: -10px;
}
.entete table  {
	border: 1 px solid red;
}
.date{
	text-align: center;
	display: inline;
}
.date input{
	color: #1E90FF;
}
/*MISE EN FORME DES INPUT*/
input{
	margin: 0px;
	padding: 0px;
	border:none;
	text-decoration: none;
	color:rgba(46, 55, 180, 0.623);
	
}
select{
	border: none;
	background-color:none;
	color:green; 
}
/*POUR AFFICHER OU CACHE LES ENTETE DU SITE */
.showHide{
	display: none;
	transition: display 2s ease-in-out;
	
}
.navigation{
	padding: 0px;
	margin: 0px;
	height: 50px;
}
.navigation .restPrise{
	display: flex;
	border-bottom: 2px solid grey;

	margin-top: -30px;
}
.restVal{
	margin-left:60px; 
}

.tableInput{
	background: none;
	border: none;

}
.hideDiv{
	display: none;
}
.showDiv{
	display: block;
}
.box-info{
	margin: 20px;
}



/*SECTION VENTE */
.divUl{
	border-bottom: 1px solid grey;
}
.ulVenteDuJour ul{
	display: inline-block;
}
.ulVenteDuJour li{
	text-decoration: none;
	width: 150px;
	display: inline;
	border: none;
	margin-right:-10px; 
	
}

.vente_du_jour h4 {
	text-align: center;
}
.vente_du_jour{
	padding: 10px;
}
.venteDuJourRow{
	display: flex;
	justify-content:space-between;
}
/* CSS DES TABLE */
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}